<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Trang Chủ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif; /* Áp dụng font chữ mới */
        }
    </style>
</head>
<body>

    <!-- Thanh điều hướng -->
    <div class="navbar">
        <div class="nav-list">
            <a href="home" class="nav-link">Trang Chủ</a>
            <a href="id_card" class="nav-link">Trình Đọc Thẻ ID</a>
        </div>
    </div>
    <div class="cover">
        <img src="static/assets/homepage/background_AI.jpg" alt="" id="bg_img">
    </div>
    <div class="overlay"></div>
    <div class="welcome">
        <h1 class="w3-margin w3-jumbo">CHÀO MỪNG ĐẾN VỚI NHÓM 7</h1>
    </div>
</body>
</html>
