<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Trang Chủ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
</head>
<body>

    <!-- Thanh điều hướng -->
    <div class="navbar">
        <div class="nav-list">
            <a href="home" class="nav-link">Trang Chủ</a>
            <a href="id_card" class="nav-link">Trình Đọc Thẻ ID</a>
            <a href="ekyc" class="nav-link">eKYC</a>
            <a href="feedback" class="nav-link">Phản Hồi</a>
        </div>
    </div>
    <div class="cover">
        <img src="static/assets/homepage/AI_background.jpeg" alt="" id="bg_img">
    </div>
    <div class="overlay"></div>
    <div class="welcome">
        <h1 class="w3-margin w3-jumbo">CHÀO MỪNG ĐẾN VỚI TRANG WEB CỦA TÔI</h1>
        <p class="w3-xlarge">Bạn có thể xem và thử nghiệm các dịch vụ bên dưới</p>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="myFunction()">Bắt Đầu</button>
    </div>

    <!-- Lưới Đầu Tiên -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Trình Đọc Thẻ ID</h1>
                <h5 class="w3-padding-32">Phiên bản: 2.0</h5>
                <p class="w3-text-grey">Một ứng dụng web giúp chúng ta trích xuất thông tin từ thẻ ID điện tử của Việt Nam trong một giây. Ứng dụng này nhằm giảm khối lượng công việc gõ tay và tiết kiệm thời gian.</p>
            </div>

            <div class="w3-third w3-center">
                <img src="static/assets/homepage/id.png" class="id_home" alt="id">
            </div>
        </div>
    </div>

    <!-- Lưới Thứ Hai -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <img src="static/assets/homepage/ekyc.png" class="ekyc_home" alt="ekyc">
            </div>
            <div class="w3-twothird">
                <h1>eKYC</h1>
                <h5 class="w3-padding-32">Phiên bản: 1.0</h5>
                <p class="w3-text-grey">eKYC (Kinh doanh biết khách hàng điện tử) là thuật ngữ dùng để mô tả việc số hóa và hiện đại hóa các quy trình KYC. eKYC là quy trình từ xa, không giấy tờ, giúp giảm chi phí và thủ tục hành chính truyền thống cần thiết trong các quy trình KYC.</p>
            </div>
        </div>
    </div>

    <!-- Chân Trang -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <div class="contact">
                <span>Liên hệ với tôi</span>
            </div>
            <a href="https://www.facebook.com/ntvuongg/" class="fa fa-facebook-official w3-hover-opacity"></a>
            <a href="https://github.com/ntvuongg" class="fa fa-github" aria-hidden="true"></a>
            <a href="https://www.linkedin.com/in/ntvuongg/" class="fa fa-linkedin w3-hover-opacity"></a>
        </div>
    </footer>
    <script src="{{ url_for('static', path='js/home.js') }}"></script>
</body>
</html>
